* {
    margin: 0;
   padding: 2px;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  body{
    width: 100%;
    background-color: #CCCCCC;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
  }


  .navv{
    display: flex;
    width: 100%;
    background-color: #CCCCCC;
    /* border: 2px solid black; */
  }
  .nav-left{
    margin-left: 8%;
    margin-top: 1%;
  }
  .nav-left h4{
    font-size: 17px;
    color: #006400;
    font-weight: bold;
  }
  .menu-icon {
    display: none; /* Hide on larger screens */
    font-size: 24px;
    cursor: pointer;
  }
  .nav-right{
    margin-left: 50%;
  }
  .nav-left img{
    width: 80px;
    border-radius: 50%;
  }

  .nav-right ul{
    display: flex;
    padding: 30px;
    gap: 2rem;
    margin-top: 6%;
    /* border: 2px solid black; */
  }
  .nav-right a{
    color: #006400;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
  }
  .imgimg img{
    width: 100%;
    height: 700px;
    /* filter: brightness(50%); */
  }
  .imgimg h1{
    position: absolute;
    font-size: 60px;
    left: 10%;
    top: 30%;
    color: #CCCCCC;
    /* border: 2px solid black; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .imglogo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 44%;
    top: 43%;
  }
  html::-webkit-scrollbar {
    width: 2px;  
  }

.login-container {
  position: absolute;
  left: 37%;
  top: 70%;
  /* background-color: #CCCCCC; */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px;
  text-align: center;
}
.login-container h2 {
  color: #fff;
  margin-bottom: 15px;
}
.input-group {
  margin-bottom: 15px;
  text-align: left;
}
.input-group label {
  display: block;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}
.input-group input, .input-group select {
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  border: none;
  background-color: #fff;
  color: #38a169;
  font-size: 16px;
}
.login-button {
  width: 100%;
  background-color: #006400;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.login-button:hover {
  background-color: #38a169;
}
.signup-link {
  margin-top: 10px;
  font-size: 14px;
  color: #a0aec0;
}
.signup-link a {
  color: #38a169;
  text-decoration: none;
}
